:root{
    --Header__heigth: 80px
}

.Header{
    box-shadow: 0px -9px 20px 0px #000000;
}
.Header__section{
    height: var(--Header__heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header__img{
    width: 100px
}
.Header__ul{
    display: flex;
    gap: 20px;
}
.Header__li{
    border-bottom: white solid 2px;
    transition: 100ms;
}
.Heade__checked, .Header__li:hover{
    border-bottom: var(--main-color) solid 2px;
}